.cc-pymt{
    height: 40px;
    margin:5px 10px 15px 0;
}




.bcz {
    background-color: pink;
}

.bczc {
     max-width:700px;
}

.cname {
    display: inline-block;
}


.cc-pymt-divs {
    margin: 2px;
}




.cc-pymt-div{
    margin: 20px;
}

.cc-pyment-input {
    margin-left:10px;
}


.sdvcl{max-width: 60px}