
/***********  MEDIA ADJUSTMENT  *************/

@media screen and (max-width: 500px) {

    .onboarding-display {
      display:initial;
      min-height: calc(100vh);

      
    }
}

@media screen and (min-width: 500px) {

    .onboarding-display {
      display:none;
    }
}

.main-cont {
    margin-top: 100px;
}

.learn-more{
    margin-top:50px;
}

/***  First Slide  ***/


.info-title{
    color: #4687ef;
    font-size: 30px;
}

.logo-login {
    height: 100px;
    width: 125px;
}


.info-swipe{
    color: gray;
     margin-bottom: 75px;
}




/*** 3 Icon Sliders ***/
.info-images {
    margin-top: 5px;
    margin-bottom:25px;
    height: 150px;
}


.info-subtitle{
    color: #4687EF;
     padding-top:5px;
     padding-bottom: 5px;
     font-weight: bold;
}

.log-info {
    color: gray;
    margin-bottom: 50px;
    font-size: 16px;
    margin-right: 18%;
    margin-left: 18%;
}

/*** Buttons ***/

.btn-signin {
    color:black;
}

.btn-width {
    width: 175px;
}



/*** 3 Dot Indicator ****/

.carousel-indicators > li {
    
    width: 10px;
    height: 10px;
    cursor: pointer;
    background-color: #ED575D;
    border: 1px solid #ED575D;
    border-radius: 10px;
}

.carousel-caption {
    position: static;
    width: 100%;
}

.carousel-indicators {
    margin-bottom: -30px;
}


.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: gray !important;
    border-radius: 50%;
}