
/***********  MEDIA ADJUSTMENT  *************/

@media screen and (max-width: 500px) {
    .onboarding-display {
      display:initial;
    }
}

@media screen and (min-width: 500px) {

    .onboarding-display {
      display:none;
    }
}



.ob-contr-div {
      min-height: 425px;
}



/*** Icons  ***/


.ob-shield, .info-images {
  height: 75px;
  display:block;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 20px;
}

.ob-logo {
    height: 75px;
}

.ob-arrows {
    height: 50px;
}

.info-subtitle{
    color: #4687EF;
     font-weight: bold;
     font-size: 20px;
}

.log-info {
    font-size: 16px;
}

.ob-textbox {
     max-width: 275px;
     margin: 0 auto;
     height: 90px;
     padding-top:15px;
}

.carousel-caption {
    height: 275px;
}
/*** Buttons ***/

.btn-signin {
    color:black;
}

.btn-width {
    width: 175px;
}



/*** 3 Dot Indicator ****/

.carousel-indicators > li {
    
    width: 10px;
    height: 10px;
    cursor: pointer;
    background-color: #ED575D;
    border: 1px solid #ED575D;
    border-radius: 10px;
}

.carousel-caption {
    position: static;
    width: 100%;
}

.carousel-indicators {
    margin-bottom: -5px;
}