
/***********  MEDIA ADJUSTMENT  *************/

@media screen and (min-width: 500px) {
    .resetpw-div {
      padding-top: 75px;
    }
    .logo-div {
      display: none;
      margin-bottom:15px;
    }
}


@media screen and (max-width: 500px) {
  
  .resetpw-div {
      margin-top: 50px;
  }

}


/***********  SECTION  *************/


.form-resetpw {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-resetpw {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  margin-top: 15px;
}

.form-resetpw .form-control:focus {
  z-index: 2;
}

.form-resetpw input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.font-resetpw {
  font-weight: 400;
    font-size: 26px;
}

.btn-return {
    margin-top: 15px;
}

.reset-logo {
  height: 72px;
}

.resetpw-shield {
  margin: 0 auto;
  height: 75px;
  display: block;
}

.resetpw-logo {
  height: 52px;
}

.res-padding-btn {
  margin-top: 50px;
}