
/***********  MEDIA ADJUSTMENT  *************/

@media screen and (min-width: 500px) {
    .signin-div {
      padding-top: 75px;
    }
    .logo-div {
      display: none;
      margin-bottom:15px;
    }
}


@media screen and (max-width: 500px) {
  
  .signin-div {
    margin-top: 50px;
  }

}


/***********  SECTION  *************/


.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  margin-top: 15px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.reset-link {
  color: #4583ef;
}
.reset-link:visited { 
   color: #4583ef;
}

.reset-link:hover {
  text-decoration: none;
  cursor: pointer;
  color: #4583ef;
}

.logo-div {
  margin-top: 100px;
}
.signin-shield {
  margin: 0 auto;
  height: 75px;
  display: block;
}

.signin-logo {
  height: 52px;
}

.font-signin {
    font-weight: 400;
    font-size: 26px;
  
}