.c-spacing {
    margin-bottom: 550px;
}


/** div wrapping the cards**/
.div-format {
    display: block;
    text-align:  center;
    font-size: 35px;
    padding-top: 45px;
    padding-bottom: 25px;
}



/** card formatting**/


.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    margin-top: 25px;
}

.circle-image {
    background-image: url("../images/profiles/profile1.png");
    background-color: #FEFEFE;
    width: 9rem;  
    height: 9rem;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 25px;
    box-shadow: 0 0 0 2px #bbb;
}

.circle-image:hover {
    box-shadow: 0 0 0 4px #4583ef;
    transform: scale(1.1);
}

.card {
    width: 18rem;
    
}

.card-img-top {
    width: 9rem;   
}

.card-text {
    font-size: 14px;
}

.card-color {
    color: #4482EF;
}

.fa-linkedin, .fa-twitter, .fa-envelope, .fa-instagram, .fa-youtube-play, .fa-facebook  {
    color: gray;
    padding-right: 10px;
    padding-left: 10px;
}

.fa-linkedin:hover, .fa-twitter:hover, .fa-envelope:hover, .fa-instagram:hover, .fa-youtube-play:hover, .fa-facebook:hover {
    color: #4482EF;
}
